* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #991010;
    color: black ;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y, proximity;
    height: 100vh;

}

html::-webkit-scrollbar {
    background-color:black ;
    width: .75em;

}

html::-webkit-scrollbar-thumb {
    background-color: #991010;
}

body {
    background-image: url(..//img/bg/texture.png);
    background-attachment: fixed;

}

img {
    height: 80px;
}

img::selection {
    background-color: transparent;

}

h1, h2, p {
    font-family: 'Anton', sans-serif;
    font-size: 3.5em;
}

h1:hover, h2:hover, p:hover {
    cursor: default;
}

a {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

/* wrapper */
#wrapper {
    overflow-x: hidden;
    height: 100%;

}
#left {
    width: 300px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

#mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right {
    width: 300px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;

}

/* home page*/
#home-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed, local;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;

}

#background {
    width: 100vw;
}

#title {
    font-size: 5.2em;
    -webkit-text-stroke: 1px #991010; 
    /* background-color: pink; */
    color: white;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    border: 1px solid #991010;
    box-shadow: 5px 5px 5px black;
    height: 90px;
}

#union-jack {
    width: 50px;
}

#title-link {
    -webkit-text-stroke: 1.5px #991010; 
    color: white;
    font-size: 2em;
    transition: 500ms;
    text-shadow: 5px 5px 5px  black;

    
    
}

#title-link:hover {
    -webkit-text-stroke: .1px #991010; 
    text-shadow: 3px 3px 5px  #991010;

}

#about-us {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */

    scroll-snap-align: start;

}

#aboutus-title {
    -webkit-text-stroke: 1.5px #991010;
    color: white;
    position: relative;
    top: 50px; 
    margin: auto;
    width: fit-content;
}

#space-games {
    position: relative;
    top: 10px;
}

#footer {
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footer a {
    transition: 600ms;
}

#footer a:hover {
    text-shadow: 1px 1px 5px  #991010;
}

.nav {
    width: 100%;
    height: 100%;
    background-attachment: fixed;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ghost {
    /* background-color: #991010; */
    width: 15%;
    height: 50px;
}

.flags {
    height: 30px;
    border: 1px solid #991010;
    box-shadow: 1px 1px 5px black;
}

.fotos-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.links {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 2em;
    /* background-color: royalblue; */
    border: 5px solid #991010 ;
    transition: 400ms;
    text-decoration: none;
    margin: 10px;
}

.links:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px #991010;

}

.page {
    height: 110vh;
    scroll-snap-align: start;
}

.break{
    width: 100%;
    height: 10vh;
    background-image: url(/htdocs/img/bg/texture.png);
    background-attachment: fixed;

}

.about-us-container {
    margin: 200px 0 0 ;
    display: flex;
    justify-content: space-evenly;

}

.about-us-content {
    background-color: rgba(0, 0, 0, 70%);
    border: 5px solid #991010;
    box-shadow: 10px 10px 10px black;
    border-radius: 5%;

    font-size: 1.70em;
    padding: 0px 40px ;
    height: 650px;
    width: 500px;

    transition: 400ms;
}

.about-us-content:hover {
    background-color: rgba(0, 0, 0, 30%);
    border: 5px solid rgba(153, 16, 16, 70%);
    box-shadow: 10px 10px 20px black;
    cursor: default;

}

.about-us-content p {
    font-size: 1em;
}

.about-us-content p {
    font-size: 1em;
}

.about-us-content ul {
    font-size: 1em;
    font-family: 'Anton', sans-serif;
    
}

.about-us-content h3 {
    font-family: 'Anton', sans-serif;
    margin:  0 0 10px 0;
    
}

.about-us-content li::marker {
    color: #991010;

}

.lines {
    list-style: square inside none;

}

.blue {
    -webkit-text-stroke: 1px white;

}

.pink {
    -webkit-text-stroke: .5px #991010;

}
