/**********************************************************************/
/**************************** The Post Grid ***************************/
/**********************************************************************/
.rt-tpg-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rt-tpg-container *:before,
.rt-tpg-container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rt-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.rt-container,
.rt-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.rt-tpg-container ul {
    margin: 0;
}

.rt-tpg-container i {
    margin-right: 5px;
}

.clearfix:before, .clearfix:after, .rt-container:before, .rt-container:after, .rt-container-fluid:before, .rt-container-fluid:after, .rt-row:before, .rt-row:after {
    content: " ";
    display: table;
}

.clearfix:after, .rt-container:after, .rt-container-fluid:after, .rt-row:after {
    clear: both;
}

.rt-row {
    margin-left: -15px;
    margin-right: -15px;
}

.rt-col-xs-24,
.rt-col-sm-24, .rt-col-md-24, .rt-col-lg-24,
.rt-col-xs-1,
.rt-col-sm-1, .rt-col-md-1, .rt-col-lg-1, .rt-col-xs-2, .rt-col-sm-2, .rt-col-md-2, .rt-col-lg-2, .rt-col-xs-3, .rt-col-sm-3, .rt-col-md-3, .rt-col-lg-3, .rt-col-xs-4, .rt-col-sm-4, .rt-col-md-4, .rt-col-lg-4, .rt-col-xs-5, .rt-col-sm-5, .rt-col-md-5, .rt-col-lg-5, .rt-col-xs-6, .rt-col-sm-6, .rt-col-md-6, .rt-col-lg-6, .rt-col-xs-7, .rt-col-sm-7, .rt-col-md-7, .rt-col-lg-7, .rt-col-xs-8, .rt-col-sm-8, .rt-col-md-8, .rt-col-lg-8, .rt-col-xs-9, .rt-col-sm-9, .rt-col-md-9, .rt-col-lg-9, .rt-col-xs-10, .rt-col-sm-10, .rt-col-md-10, .rt-col-lg-10, .rt-col-xs-11, .rt-col-sm-11, .rt-col-md-11, .rt-col-lg-11, .rt-col-xs-12, .rt-col-sm-12, .rt-col-md-12, .rt-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.rt-col-xs-24, .rt-col-xs-1, .rt-col-xs-2, .rt-col-xs-3, .rt-col-xs-4, .rt-col-xs-5, .rt-col-xs-6, .rt-col-xs-7, .rt-col-xs-8, .rt-col-xs-9, .rt-col-xs-10, .rt-col-xs-11, .rt-col-xs-12 {
    float: left;
}

.rt-col-xs-24 {
    width: 20%;
}

.rt-col-xs-12 {
    width: 100%;
}

.rt-col-xs-11 {
    width: 91.66666667%;
}

.rt-col-xs-10 {
    width: 83.33333333%;
}

.rt-col-xs-9 {
    width: 75%;
}

.rt-col-xs-8 {
    width: 66.66666667%;
}

.rt-col-xs-7 {
    width: 58.33333333%;
}

.rt-col-xs-6 {
    width: 50%;
}

.rt-col-xs-5 {
    width: 41.66666667%;
}

.rt-col-xs-4 {
    width: 33.33333333%;
}

.rt-col-xs-3 {
    width: 25%;
}

.rt-col-xs-2 {
    width: 16.66666667%;
}

.rt-col-xs-1 {
    width: 8.33333333%;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.rt-tpg-container .rt-equal-height {
    margin-bottom: 15px;
}

/**********************************************************************/
/********************************* End Grid  *************************/
/**********************************************************************/
.rt-tpg-container .rt-detail .entry-title a {
    text-decoration: none;
}

.rt-detail .post-meta:after {
    clear: both;
    content: "";
    display: block;
}

.post-meta-user {
    padding: 0 0 10px;
    font-size: 90%;
}

.post-meta-tags {
    padding: 0 0 5px 0;
    font-size: 90%;
}

.post-meta-user span, .post-meta-tags span {
    display: inline-block;
    padding-right: 5px;
}

.post-meta-user span.comment-link {
    text-align: right;
    float: right;
    padding-right: 0;
}

.post-meta-user span.post-tags-links {
    padding-right: 0;
}

.rt-detail .post-content {
    margin-bottom: 10px;
}

.rt-detail .read-more a {
    padding: 8px 15px;
    display: inline-block;
}

/**********************************************************************/
/********************************* Layout 1  *************************/
/**********************************************************************/

.rt-tpg-container .layout1 .rt-holder {
    padding-bottom: 15px;
}

.rt-tpg-container .layout1 .rt-holder .rt-img-holder {
    position: relative;
    overflow: hidden;
}

.rt-tpg-container .layout1 .rt-holder .rt-img-holder img {
    -webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    -ms-transition: all 1.1s ease;
    transition: all 1.1s ease;
    max-width: 100%;
}

.rt-tpg-container .layout1 .rt-holder .rt-img-holder:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.rt-tpg-container .layout1 .rt-holder .rt-img-holder .overlay {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.rt-tpg-container .layout1 .rt-holder .rt-img-holder .overlay .view-details {
    display: inline-block;
    font-size: 20px;
}

.rt-tpg-container .layout1 .rt-holder .rt-img-holder:hover .overlay {
    opacity: 1;
}

.rt-tpg-container .layout1 .rt-holder .rt-img-holder .active {
    opacity: 1;
}

.rt-tpg-container .layout1 .rt-holder .rt-detail {
    background: #fff;
    padding: 15px 0;
}

#poststuff .rt-tpg-container .layout1 .rt-holder .rt-detail h2,
#poststuff .rt-tpg-container .layout1 .rt-holder .rt-detail h3,
#poststuff .rt-tpg-container .layout1 .rt-holder .rt-detail h4,
.rt-tpg-container .layout1 .rt-holder .rt-detail h2,
.rt-tpg-container .layout1 .rt-holder .rt-detail h3,
.rt-tpg-container .layout1 .rt-holder .rt-detail h4 {
    margin: 0 0 14px;
    padding: 0;
    font-size: 24px;
    line-height: 1.25;
}

.rt-tpg-container .layout1 .rt-holder .view-details {
    width: 36px;
    height: 36px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.rt-tpg-container .layout1 .rt-holder .view-details i {
    color: #fff;
    text-align: center;
    padding: 8px 14px;
}

.rt-tpg-container .layout1 .rt-holder .rt-detail .post-meta {
    text-align: right;
    margin-top: 10px;
}

.rt-tpg-container .layout1 .rt-holder .rt-detail .read-more {
    display: block;
    text-align: right;
}

.rt-tpg-container .layout1 .rt-holder .rt-detail .read-more a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    background: #81d742;
    font-size: 15px;
}

/**********************************************************************/
/********************************* Layout 2   *************************/
/**********************************************************************/

.rt-tpg-container .layout2 .rt-holder {
    padding-bottom: 15px;
}

.rt-tpg-container .layout2 .rt-holder .rt-img-holder img {
    -webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    -ms-transition: all 1.1s ease;
    transition: all 1.1s ease;
    max-width: 100%;
}

.rt-tpg-container .layout2 .rt-holder .rt-img-holder:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#poststuff .rt-tpg-container .layout2 .rt-holder .rt-detail h2,
#poststuff .rt-tpg-container .layout2 .rt-holder .rt-detail h3,
#poststuff .rt-tpg-container .layout2 .rt-holder .rt-detail h4,
.rt-tpg-container .layout2 .rt-holder .rt-detail h2,
.rt-tpg-container .layout2 .rt-holder .rt-detail h3,
.rt-tpg-container .layout2 .rt-holder .rt-detail h4 {
    font-size: 26px;
    margin: 0 0 14px 0;
    padding: 0px;
    font-weight: 400;
    line-height: 1.25;
}

.rt-tpg-container .layout2 .rt-holder .rt-img-holder {
    position: relative;
    overflow: hidden;
}

.rt-tpg-container .layout2 .rt-holder .rt-img-holder .overlay {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.rt-tpg-container .layout2 .rt-holder .rt-img-holder .overlay .link-holder {
    left: 0;
    position: absolute;
    right: 0;
}

.rt-tpg-container .layout2 .rt-holder .rt-img-holder .overlay .link-holder .view-details {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    height: 36px;
    text-align: center;
    width: 36px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.rt-tpg-container .layout2 .rt-img-holder .overlay .link-holder i {
    color: #fff;
    text-align: center;
    padding: 8px 14px;
}

.rt-tpg-container .layout2 .rt-holder .rt-img-holder:hover .overlay {
    opacity: 1;
}

.rt-tpg-container .layout2 .rt-holder .rt-detail .read-more {
    display: block;
    text-align: right;
}

.rt-tpg-container .layout2 .rt-holder .rt-detail .read-more a {
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #337ab7;
    font-size: 15px;
}

/**********************************************************************/
/********************************* Layout 3  *************************/
/**********************************************************************/

.rt-tpg-container .layout3 .rt-holder {
    padding-bottom: 15px;
}

.rt-tpg-container .layout3 .rt-holder .rt-detail p {
    line-height: 24px;
}

#poststuff .rt-tpg-container .layout3 .rt-holder .rt-detail h2,
#poststuff .rt-tpg-container .layout3 .rt-holder .rt-detail h3,
#poststuff .rt-tpg-container .layout3 .rt-holder .rt-detail h4,
.rt-tpg-container .layout3 .rt-holder .rt-detail h2,
.rt-tpg-container .layout3 .rt-holder .rt-detail h3,
.rt-tpg-container .layout3 .rt-holder .rt-detail h4 {
    font-size: 26px;
    margin: 0 0 14px 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.25;
}

.rt-tpg-container .layout3 .rt-holder .rt-img-holder {
    position: relative;
    overflow: hidden;
}

.rt-tpg-container .layout3 .rt-holder .rt-img-holder .overlay {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.rt-tpg-container .layout3 .rt-holder .rt-img-holder .overlay .link-holder {
    left: 0;
    position: absolute;
    right: 0;
}

.rt-tpg-container .layout3 .rt-holder .rt-img-holder .overlay .link-holder .view-details {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    height: 36px;
    text-align: center;
    width: 36px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.rt-tpg-container .layout3 .rt-img-holder .overlay .link-holder i {
    color: #fff;
    text-align: center;
    padding: 8px 14px;
}

.rt-tpg-container .layout3 .rt-holder .rt-img-holder:hover .overlay {
    opacity: 1;
}

.rt-tpg-container .layout3 .rt-holder .rt-detail .read-more {
    display: block;
    text-align: right;
}

.rt-tpg-container .layout3 .rt-holder .rt-detail .read-more a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #337ab7;
    font-size: 15px;
    display: inline-block;
}

.rt-tpg-container .layout3 .rt-holder .rt-img-holder > a img.rounded,
.layout3 .rt-holder .rt-img-holder .overlay {
    border-radius: 50%;
}

/**********************************************************************/
/********************************* Layout Isotope *************************/
/**********************************************************************/

.rt-tpg-container .isotope1 .rt-holder {
    padding-bottom: 15px;
}

.rt-tpg-container .isotope1 .rt-holder .rt-img-holder img {
    -webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    -ms-transition: all 1.1s ease;
    transition: all 1.1s ease;
    max-width: 100%;
}

.rt-tpg-container .isotope1 .rt-holder .rt-img-holder:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.rt-tpg-container .isotope1 .rt-holder .rt-img-holder {
    position: relative;
    overflow: hidden;
}

.rt-tpg-container .isotope1 .rt-holder .rt-img-holder .overlay {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.rt-tpg-container .isotope1 .rt-holder .rt-img-holder .overlay .view-details {
    display: inline-block;
    font-size: 20px;
}

.rt-tpg-container .isotope1 .rt-holder .rt-img-holder:hover .overlay {
    opacity: 1;
}

.rt-tpg-container .isotope1 .rt-holder .rt-img-holder .active {
    opacity: 1;
}

.rt-tpg-container .isotope1 .rt-holder .rt-detail {
    background: #fff;
    padding: 15px 0;
}

#poststuff .rt-tpg-container .isotope1 .rt-holder .rt-detail h2,
#poststuff .rt-tpg-container .isotope1 .rt-holder .rt-detail h3,
#poststuff .rt-tpg-container .isotope1 .rt-holder .rt-detail h4,
.rt-tpg-container .isotope1 .rt-holder .rt-detail h2,
.rt-tpg-container .isotope1 .rt-holder .rt-detail h3,
.rt-tpg-container .isotope1 .rt-holder .rt-detail h4 {
    font-size: 26px;
    margin: 0 0 14px;
    font-weight: 400;
    line-height: 1.25;
    padding: 0;
}

.rt-tpg-container .isotope1 .rt-holder .view-details {
    width: 36px;
    height: 36px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.rt-tpg-container .isotope1 .rt-holder .view-details i {
    color: #fff;
    text-align: center;
    padding: 8px 14px;
}

.rt-tpg-container .isotope1 .rt-holder .rt-detail .post-meta {
    text-align: right;
}

/* isotope read more button Buttons */
.rt-tpg-container .isotope1 .rt-holder .rt-detail .read-more {
    display: block;
    text-align: right;
    margin-top: 15px;
}

.rt-tpg-container .isotope1 .rt-holder .rt-detail .read-more a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 15px;
    display: inline-block;
}

/* isotope Buttons */
.rt-tpg-container .rt-tpg-isotope-buttons {
    text-align: center;
    margin: 15px 0 30px 0;
}

.rt-tpg-container .rt-tpg-isotope-buttons .selected {
    background: #1e73be;
}

.rt-tpg-container .rt-tpg-isotope-buttons button {
    border: none;
    margin: 4px;
    padding: 8px 15px;
    outline: 0;
    text-transform: none;
    font-weight: 400;
    font-size: 15px;
}

/**********************************************************************/
/********************************* pagination *************************/
/**********************************************************************/

.rt-pagination {
    text-align: center;
    margin: 30px;
}

.rt-pagination .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    background: transparent;
    border-top: 0;
}

.entry-content .rt-pagination a {
    box-shadow: none;
}

.rt-pagination .pagination:before, .rt-pagination .pagination:after {
    content: none;
}

.rt-pagination .pagination > li {
    display: inline;
}

.rt-pagination .pagination > li > a,
.rt-pagination .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.rt-pagination .pagination > li:first-child > a,
.rt-pagination .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.rt-pagination .pagination > li:last-child > a,
.rt-pagination .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.rt-pagination .pagination > li > a:hover,
.rt-pagination .pagination > li > span:hover,
.rt-pagination .pagination > li > a:focus,
.rt-pagination .pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #dddddd;
}

.rt-pagination .pagination > .active > a,
.rt-pagination .pagination > .active > span,
.rt-pagination .pagination > .active > a:hover,
.rt-pagination .pagination > .active > span:hover,
.rt-pagination .pagination > .active > a:focus,
.rt-pagination .pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.rt-pagination .pagination > .disabled > span,
.rt-pagination .pagination > .disabled > span:hover,
.rt-pagination .pagination > .disabled > span:focus,
.rt-pagination .pagination > .disabled > a,
.rt-pagination .pagination > .disabled > a:hover,
.rt-pagination .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}

.rt-pagination .pagination-lg > li > a,
.rt-pagination .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.rt-pagination .pagination-lg > li:first-child > a,
.rt-pagination .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.rt-pagination .pagination-lg > li:last-child > a,
.rt-pagination .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.rt-pagination .pagination-sm > li > a,
.rt-pagination .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.rt-pagination .pagination-sm > li:first-child > a,
.rt-pagination .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.rt-pagination .pagination-sm > li:last-child > a,
.rt-pagination .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

/**********************************************************************/
/***************************** End pagination *************************/
/**********************************************************************/

/**********************************************************************/
/********************************* Media Query *************************/
/**********************************************************************/


@media screen and (max-width: 768px) {
    .rt-member-feature-img, .rt-member-description-container {
        float: none;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .rt-col-sm-24, .rt-col-sm-1, .rt-col-sm-2, .rt-col-sm-3, .rt-col-sm-4, .rt-col-sm-5, .rt-col-sm-6, .rt-col-sm-7, .rt-col-sm-8, .rt-col-sm-9, .rt-col-sm-10, .rt-col-sm-11, .rt-col-sm-12 {
        float: left;
    }

    .rt-col-sm-24 {
        width: 20%;
    }

    .rt-col-sm-12 {
        width: 100%;
    }

    .rt-col-sm-11 {
        width: 91.66666667%;
    }

    .rt-col-sm-10 {
        width: 83.33333333%;
    }

    .rt-col-sm-9 {
        width: 75%;
    }

    .rt-col-sm-8 {
        width: 66.66666667%;
    }

    .rt-col-sm-7 {
        width: 58.33333333%;
    }

    .rt-col-sm-6 {
        width: 50%;
    }

    .rt-col-sm-5 {
        width: 41.66666667%;
    }

    .rt-col-sm-4 {
        width: 33.33333333%;
    }

    .rt-col-sm-3 {
        width: 25%;
    }

    .rt-col-sm-2 {
        width: 16.66666667%;
    }

    .rt-col-sm-1 {
        width: 8.33333333%;
    }
}

@media (min-width: 992px) {
    .rt-col-md-24, .rt-col-md-1, .rt-col-md-2, .rt-col-md-3, .rt-col-md-4, .rt-col-md-5, .rt-col-md-6, .rt-col-md-7, .rt-col-md-8, .rt-col-md-9, .rt-col-md-10, .rt-col-md-11, .rt-col-md-12 {
        float: left;
    }

    .rt-col-md-24 {
        width: 20%;
    }

    .rt-col-md-12 {
        width: 100%;
    }

    .rt-col-md-11 {
        width: 91.66666667%;
    }

    .rt-col-md-10 {
        width: 83.33333333%;
    }

    .rt-col-md-9 {
        width: 75%;
    }

    .rt-col-md-8 {
        width: 66.66666667%;
    }

    .rt-col-md-7 {
        width: 58.33333333%;
    }

    .rt-col-md-6 {
        width: 50%;
    }

    .rt-col-md-5 {
        width: 41.66666667%;
    }

    .rt-col-md-4 {
        width: 33.33333333%;
    }

    .rt-col-md-3 {
        width: 25%;
    }

    .rt-col-md-2 {
        width: 16.66666667%;
    }

    .rt-col-md-1 {
        width: 8.33333333%;
    }
}

@media (min-width: 1200px) {
    .rt-col-lg-24, .rt-col-lg-1, .rt-col-lg-2, .rt-col-lg-3, .rt-col-lg-4, .rt-col-lg-5, .rt-col-lg-6, .rt-col-lg-7, .rt-col-lg-8, .rt-col-lg-9, .rt-col-lg-10, .rt-col-lg-11, .rt-col-lg-12 {
        float: left;
    }

    .rt-col-lg-24 {
        width: 20%;
    }

    .rt-col-lg-12 {
        width: 100%;
    }

    .rt-col-lg-11 {
        width: 91.66666667%;
    }

    .rt-col-lg-10 {
        width: 83.33333333%;
    }

    .rt-col-lg-9 {
        width: 75%;
    }

    .rt-col-lg-8 {
        width: 66.66666667%;
    }

    .rt-col-lg-7 {
        width: 58.33333333%;
    }

    .rt-col-lg-6 {
        width: 50%;
    }

    .rt-col-lg-5 {
        width: 41.66666667%;
    }

    .rt-col-lg-4 {
        width: 33.33333333%;
    }

    .rt-col-lg-3 {
        width: 25%;
    }

    .rt-col-lg-2 {
        width: 16.66666667%;
    }

    .rt-col-lg-1 {
        width: 8.33333333%;
    }
}

/* admin preview */
#tpg-preview-container .rt-tpg-container .rt-tpg-isotope-buttons button {
    line-height: 1.25;
}

#tpg-preview-container .rt-tpg-container .rt-tpg-isotope-buttons .selected {
    color: #ffffff;
}

#tpg-preview-container .rt-tpg-container a {
    text-decoration: none;
}
